<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/app_controle_tarefas/tests/Unit" />
        <option value="$PROJECT_DIR$/app_controle_tarefas/tests/Feature" />
        <option value="$PROJECT_DIR$/app_super_gestao/tests/Unit" />
        <option value="$PROJECT_DIR$/app_super_gestao/tests/Feature" />
        <option value="$PROJECT_DIR$/app_portal_noticias/tests/Unit" />
        <option value="$PROJECT_DIR$/app_portal_noticias/tests/Feature" />
        <option value="$PROJECT_DIR$/app_locadora_carros/tests/Unit" />
        <option value="$PROJECT_DIR$/app_locadora_carros/tests/Feature" />
      </list>
    </option>
  </component>
</project>